# app
PORT=4003
NODE_ENV=development

# database
MONGODB_URL=

# Message Queue
RABBITMQ_URL=amqp://localhost:5672
SERVICE_NAME=order

# JWT credentials
JWT_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN=30d
